<launch>
  <param command="$(find xacro)/xacro $(find simple_robot_description)/urdf/simple_robot.xacro" name="robot_description"/>
  

  <arg name="x" default ="0"/>
  <arg name="y" default ="0"/>
  <arg name="z" default ="0.5"/>

  <node args="-param robot_description -urdf -model simple_robot -x $(arg x) -y $(arg y) -z $(arg z) " name="spawn_urdf" pkg="gazebo_ros" type="spawn_model"/>
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="paused" value="false"/>
    <arg name="use_sim_time" value="true"/>
    <arg name="gui" value="true"/>
    <arg name="headless" value="false"/>
    <arg name="debug" value="false"/>
    <!-- <arg name="world_name" value="$(find simple_robot_description)/worlds/turtlebot3_house.world"/> -->
    <!-- <arg name="world_name" value="$(find simple_robot_description)/worlds/costume_cafe"/> -->
    <arg name="world_name" value="$(find simple_robot_description)/worlds/battlefield"/>
    
  </include>
</launch>
