<launch>
  <!-- gazebo -->
  <include file="$(find simple_robot_description)/launch/sim.launch"/>
  <!-- ekf -->
  <include file="$(find simple_robot_description)/launch/simple_robot_ekf.launch"/>

  <!-- gmapping -->
  <node pkg="gmapping" type="slam_gmapping" name="gmapping_node" >
    <!-- <rosparam command="load" file="$(find simple_robot_gmapping)/config/gmapping_params.yaml" /> -->
  </node>
  <!-- teleop key -->
  <node pkg="teleop_twist_keyboard" type="teleop_twist_keyboard.py" name="teleop" output="screen" >
    <remap from="/cmd_vel" to="/simple_diff_drive_controller/cmd_vel"/>
  </node>
  
</launch>