<launch>
  <!-- gazebo -->
  <include file="$(find simple_robot_description)/launch/gazebo.launch"/>
  <!-- gmapping -->
  <node pkg="gmapping" type="slam_gmapping" name="gmapping_node" >
    <rosparam command="load" file="$(find simple_robot_gmapping)/config/gmapping_params.yaml" />
  </node>
  <!-- teleop key -->
  <node pkg="teleop_twist_keyboard" type="teleop_twist_keyboard.py" name="teleop" output="screen" />
  <!-- rviz -->
  <node type="rviz" name="rviz" pkg="rviz" args="-d $(find simple_robot_gmapping)/rviz/config_file.rviz" />
  
</launch>