<launch>
  <!-- gazebo -->
  <include file="$(find fuji_mecanum)/launch/gazebo_test_robot.launch"/>
  <!-- rviz -->
  <include file="$(find fuji_mecanum)/launch/view_test_robot.launch"/>
  <!-- gmapping -->
  <node pkg="gmapping" type="slam_gmapping" name="gmapping_node" >
    <rosparam command="load" file="$(find fuji_mecanum_gmapping)/config/gmapping_params.yaml" />
  </node>
  <!-- teleop key -->
  <node pkg="teleop_twist_keyboard" type="teleop_twist_keyboard.py" name="teleop" output="screen" />

  
</launch>